<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta property="og:title" content="Chomad Problem Form" />
    <meta property="og:description" content="ちょまど問題サーバーへ回答を送信し、 応答された正答数を表示するだけの HTML フォームです。" />
    <meta property="og:url" content="https://jsakamoto.github.io/chomado-problem-form/" />

    <meta name="keywords" content="ちょまど問題" />
    <meta name="description" content="ちょまど問題サーバーへ回答を送信し、 応答された正答数を表示するだけの HTML フォームです。" />

    <title>Chomad Problem Form</title>
</head>

<body ng-app="app" ng-controller="chomadProblemFormController as ctrl">
    <div id="description">
        <h1>Chomad Problem Form</h1>
        <h2>これは何?</h2>
        <p>
            <a ng-href="{{ctrl.serverUrl}}" target="_blank">"ちょまど問題" サーバー</a>へ回答を送信し、 応答された正答数を表示するだけの HTML フォームです。
        </p>
        <p>
            サーバー側の実装はなく、ブラウザ上の JavaScript で 動作するため、GitHub pages に配置してみました。
        </p>
        <h2>"ちょまど問題" って?</h2>
        <p>togetter にまとめがあります。</p>
        <p><a href="http://togetter.com/li/682030" target="_blank">何回で満点とれる？【ちょまど問題に挑む人々】</a></p>
    </div>

    <form ng-cloak>
        <table>
            <tr>
                <th></th>
                <th ng-repeat="option in ctrl.options">A{{option}}</th>
            </tr>
            <tr ng-repeat="question in ctrl.questions">
                <td>Q{{question}}</td>
                <td ng-repeat="option in ctrl.options">
                    <input type="radio" name="Q{{question}}" value="{{option}}" ng-model="ctrl.answers[question-1]" class="option" />
                </td>
            </tr>
        </table>

        <div>
            <button id="btn-send-answer" ng-disabled="!ctrl.filled" ng-click="ctrl.sendAnswer()">
                Send Answer
            </button>
        </div>

        <div id="status-pane" ng-show="ctrl.correct_count" ng-class="{perfect:ctrl.correct_count == ctrl.questions.length}">
            <div id="congratulation-msg">
                Congratulation!
            </div>
            <div>
                <span id="correct-count">
                    {{ctrl.correct_count}}
                </span> answers are correct.
            </div>
            <div>
                You tried {{ctrl.trial}} time(s).
            </div>
        </div>
    </form>

    <footer>
        Powered by TypeScript, AngularJS | Source code is <a href="https://github.com/jsakamoto/chomado-problem-form" target="_blank">here</a>.(GNU
        GPLv2) | Contributors are <span ng-repeat="contributor in ctrl.contributors">
            <a ng-href="{{contributor.html_url}}" target="_blank" class="contributor">
                <img ng-src="{{contributor.avatar_url}}"
                     title="{{contributor.login}}"
                     class="avatar" />
            </a>
        </span>
    </footer>

    <script src="bundle.js"></script>
</body>
</html>