<!DOCTYPE html>
<html>
<head>
    <title>Chomad Problem Form</title>
    <link href="app.css" rel="stylesheet" />
</head>
<body ng-app="app" ng-controller="chomadoProblemForm">
    <div id="description">
        <h1>Chomad Problem Form</h1>
        <h2>これは何?</h2>
        <p>
            <a ng-href="{{serverUrl}}" target="_blank">"ちょまど問題" サーバー</a>へ回答を送信し、
            応答された正答数を表示するだけの
            HTML フォームです。
        </p>
        <p>
            サーバー側の実装はなく、ブラウザ上の JavaScript で
            動作するため、DropBox に配置してみました。
        </p>
        <h2>"ちょまど問題" って?</h2>
        <p>togetter にまとめがあります。</p>
        <p><a href="http://togetter.com/li/682030">何回で満点とれる？【ちょまど問題に挑む人々】</a></p>
    </div>

    <form>
        <table>
            <tr>
                <th></th>
                <th ng-repeat="option in options">A{{option}}</th>
            </tr>
            <tr ng-repeat="question in questions">
                <td>Q{{question}}</td>
                <td ng-repeat="option in options">
                    <input type="radio" name="Q{{question}}" value="{{option}}" ng-model="answers[question-1]" class="option" />
                </td>
            </tr>
        </table>

        <div>
            <button id="btn-send-answer"
                    ng-disabled="!filled"
                    ng-click="sendAnswer()">
                Sned Answer
            </button>
        </div>

        <div id="status-pane"
             ng-show="correct_count"
             ng-class="{perfect:correct_count == questions.length}">
            <div id="congratulation-msg">
                Congratulation!
            </div>
            <div>
                <span id="correct-count">
                    {{correct_count}}
                </span>
                answers are correct.
            </div>
        </div>
    </form>

    <footer>
        Powered by TypeScript, AngularJS | Source code is <a href="https://github.com/jsakamoto/chomado-problem-form" target="_blank">here</a>.(GNU GPLv2)
    </footer>

    <script src="lib/angular/angular.js"></script>
    <script src="app.js"></script>
</body>
</html>
