<MudCard>
    <MudCardContent>
        <h3>ちょまど問題フォーム</h3>
        <h4>これは何?</h4>

        <p><a href="https://chomado-problem-server.azurewebsites.net/" target="_blank">"ちょまど問題" サーバー</a>へ回答を送信し、 応答された正答数を表示するだけの HTML フォームです。</p>

        <p>サーバー側の実装はなく、ブラウザ上の JavaScript 及び WebAssembly で 動作するため、GitHub pages に配置してみました。</p>

        <h4>"ちょまど問題" って?</h4>

        <p>togetter にまとめがあります。</p>

        <p><a href="http://togetter.com/li/682030" target="_blank">何回で満点とれる？【ちょまど問題に挑む人々】</a></p>
    </MudCardContent>
</MudCard>

