@inject HttpClient Http

<footer>
    Powered by <a href="https://blazor.net/" target="_blank">Blazor</a>, <a href="https://getmdl.io/" target="_blank">Material Design Light</a> | Source code is
    <a href="https://github.com/jsakamoto/chomado-problem-form" target="_blank">here</a>.(GNU GPLv2) | Contributors are
    @foreach (var contributor in Contributors)
    {
        <span>
            <a href="@contributor.html_url" target="_blank" class="contributor">
                <img src="@contributor.avatar_url" title="@contributor.login" class="avatar" />
            </a>
        </span>
    }
</footer>

@functions{
    Contributor[] Contributors = new Contributor[0];

    protected override async Task OnInitializedAsync()
    {
        const string contributorsUrl = "https://api.github.com/repos/jsakamoto/chomado-problem-form/contributors";
        this.Contributors = await this.Http.GetJsonAsync<Contributor[]>(contributorsUrl);
    }
}