<div class="@("screen-mask" + (this.Sending ? " active" : ""))"></div>
<MudThemeProvider />
<MudPopoverProvider />

<HeaderComponent />

<div id="main-pane">
    <div class="root-container">
        <div style="flex:1;">
            <DescriptionComponent />
        </div>
        <div style="flex:1;">
            <FormComponent OnSendingStatusChanged="@FormComponent_OnSendingStatusChanged" />
        </div>
    </div>
</div>

<FooterComponent />

@code
{
    bool Sending = false;

    void FormComponent_OnSendingStatusChanged(bool sending)
    {
        this.Sending = sending;
    }
}
