<div class="form-container">
    <div class="row">
        <div class="cell">&nbsp;</div>
        <div class="cell" *ngFor="let option of options">A{{option}}</div>
    </div>
    <div class="row" *ngFor="let Q of questions">
        <mat-radio-group [(ngModel)]="Q.answer">
            <div class="cell">Q{{Q.number}}.</div>
            <div class="cell" *ngFor="let option of options">
                <mat-radio-button color="primary" [value]="option"></mat-radio-button>
            </div>
        </mat-radio-group>
    </div>
</div>

<div>
    <button id="btn-send-answer" mat-raised-button color="primary" [disabled]="!filled" (click)="sendAnswer()">
        Send Answer
    </button>
</div>

<div id="status-pane" *ngIf="correct_count">
    <div id="congratulation-msg" *ngIf="correct_count == questions.length">
        Congratulation!
    </div>
    <div>
        <span>
            {{correct_count}}
        </span> answers are correct.
    </div>
    <div>
        You tried {{trial}} time(s).
    </div>
</div>